<div class="header">
    <div>
        <h1 class="head-title navbar-brand">LEADER</h1>
        <ul class="nav nav-pills head-list">
            <li>
                <a routerLink="/home">Home</a>
            </li>
            <li>
                <a href="#">Products</a>
            </li>
            <li>
                <a href="#">About Us</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="content-section"> 
            <div class="row sub-section">   
                <div class="col-sm-6">
                    <a routerLink="/employee">
                        <div class="block">
                            <div class="circle">
                            </div> 
                            <div class="block-content">
                                <img [src]="imageEmployee">
                                <p class="sub-section-title">Employee Management System</p>
                                <p>You can get all the employees' information here, including name, age, cellphone number, category, etc</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a routerLink="">
                        <div class="block">
                            <div class="circle">
                            </div> 
                            <div class="block-content">
                                <img [src]="imagePaySlip">
                                <p class="sub-section-title">Payslip System</p>
                                <p>You can get all the employees' information here, including name, age, cellphone number, category, etc</p>
                            </div>
                        </div>
                    </a>
                </div>
            
            </div>
            <div class="row sub-section">
                <div class="col-sm-6">
                    <a routerLink="/production-overview">
                        <div class="block">
                            <div class="circle">
                            </div> 
                            <div class="block-content">
                                <img [src]="imageProduction">
                                <p class="sub-section-title">Production System</p>
                                <p>You can get all the employees' information here, including name, age, cellphone number, category, etc</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a>
                        <div class="block">
                            <div class="circle">
                            </div> 
                            <div class="block-content">
                                <img [src]="imageAttendance">
                                <p class="sub-section-title">Attendance System</p>
                                <p>You can get all the employees' information here, including name, age, cellphone number, category, etc</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
<div>

