<table class="table table-bordered">
  <thead>
      <tr>
        <th *ngFor="let head of tableHeader" width="8%">
          {{head.value}}
        </th>
        <th width="275" align="center">Action</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let rowContent of tableContent">
        <td *ngFor="let head of tableHeader">
          {{rowContent[head.key]}}
        </td>
        <td width="12%">
          <a class="btn btn-info" routerLink="/show/{{rowContent._id}}">Detail</a>
          <a class="btn btn-success" routerLink="/edit/{{rowContent._id}}">Edit</a>
          <a class="btn btn-danger" (click)="handleDelete(rowContent._id)">Delete</a>
        </td>
      </tr>
  </tbody>
</table>
