<table class="table table-bordered">
  <thead>
      <tr>
        <th *ngFor="let head of tableHeader" width="8%">
          {{head.value}}
        </th>
        <th width="275" align="center">Action</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let rowContent of tableContent | employmanFilter:filter">
        <td *ngFor="let head of tableHeader">
          {{rowContent[head.key]}}
        </td>
        <td width="12%">
          <a class="btn btn-info" routerLink="/{{page}}/show/{{rowContent._id}}">查看详情</a>
          <a class="btn btn-success" routerLink="/{{page}}/edit/{{rowContent._id}}">编辑</a>
          <a class="btn btn-danger" (click)="handleDelete(rowContent._id)">删除</a>
        </td>
      </tr>
  </tbody>
</table>
