  <div class="panel panel-default">
  <div class="panel-heading">Mending Entry Form : You can add an mending's detail information into this EMS Apps.</div>
  <div class="panel-body">
  <form class="form-horizontal" (submit)="addMending()">

  <div class="form-group">
    <label for="date" class="col-sm-2 control-label">时间 : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="mending.date" ngui-datetime-picker date-only="true" name="date">
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">姓名 : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="mending.name" name="name" >
    </div>
  </div>
  <div class="form-group">
    <label for="shift" class="col-sm-2 control-label">班次 : </label>
    <div class="col-sm-9">
        <select class="form-control" name="shift" ng-model="mending.shift">
            <option value="day">早班</option>
            <option value="night">晚班</option>
        </select>
    </div>
  </div>
  <div class="form-group">
    <label for="category" class="col-sm-2 control-label">分类 : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="mending.category" name="category" >
    </div>
  </div>

  <div class="form-group">
    <label for="production" class="col-sm-2 control-label">产量 : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="mending.production" name="production">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <button type="submit" class="btn btn-success">Save</button>
       <a class="btn btn-info" (click)="goBack()">Cancel</a>
    </div>
   
  </div>
</form>

  </div>
</div>