	<div class="panel panel-default">
  <div class="panel-heading">Deduction Entry Form : You can add an deduction's detail information into this EMS Apps.</div>
  <div class="panel-body">
  <form class="form-horizontal" (submit)="addDeduction()">

  <div class="form-group">
    <label for="date" class="col-sm-2 control-label">时间 : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="model.date" ngui-datetime-picker date-only="true" name="date">
    </div>
  </div>
  <div class="form-group">
    <label for="shift" class="col-sm-2 control-label">班次 : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="model.shift" name="shift" >
    </div>
  </div>

  <div class="form-group">
    <label for="area" class="col-sm-2 control-label">区域 : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="area" name="area">
    </div>
  </div>
  <div class="form-group">
    <label for="money" class="col-sm-2 control-label">金额 : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="money" name="money">
    </div>
  </div>
  


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <button type="submit" class="btn btn-success">Save</button>
       <a class="btn btn-info" (click)="goBack()">Cancel</a>
    </div>
   
  </div>
</form>

  </div>
</div>